Options -MultiViews

RewriteEngine On

# REMOVE .html from URL
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# INTERNAL ROUTING FOR FOLDER STYLE
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9-]+)/?$ $1/index.html [L]

# OLD URL REDIRECTS
Redirect 301 /sewa-aircooler-kulai.html https://matkipassejuk.my/kulai/
Redirect 301 /sewa-aircooler-skudai.html https://matkipassejuk.my/skudai/
Redirect 301 /sewa-aircooler-johor-bahru.html https://matkipassejuk.my/johor-bahru/
Redirect 301 /sewa-aircooler-iskandar-puteri.html https://matkipassejuk.my/iskandar-puteri/
