Options -MultiViews

RewriteEngine On

# OLD .html URL redirects to current folder URLs
Redirect 301 /sewa-aircooler-kulai.html /sewa-aircooler-kulai/
Redirect 301 /sewa-aircooler-skudai.html /sewa-aircooler-skudai/
Redirect 301 /sewa-aircooler-johor-bahru.html /sewa-aircooler-johor-bahru/
Redirect 301 /sewa-aircooler-iskandar-puteri.html /sewa-aircooler-iskandar-puteri/

# Force trailing slash for folder-style URLs
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.+)$ /$1/ [R=301,L]

# Serve index.html inside folder
DirectoryIndex index.html
